<<<<<<< HEAD
*{
    margin:0px;
    padding:0;
    font-family: 'ubunturegular',sans-serif,Arial;
    text-decoration: none;
    box-sizing: border-box;
    transition: 200ms ease-in all;
    cursor: default;
    user-select: none;
}
p{
    cursor:default;
}
a,i{
    cursor:pointer;
}
.header{
    width: 100%;
    height: 61px;
    /* border: 1px; */
    /* border-bottom-left-radius: 13px; */
    /* border-bottom-right-radius: 13px; */
    position: sticky;
    background: #0a476b;
    z-index: 100;
    color: white;
    box-shadow: 0 6px 13px black;
}
.logo{
    width: 15%;
    position: absolute;
    left: 85px;
    background: linear-gradient(to bottom,#ff7272 44%,#27303d00);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 5px;
    padding-top:7px;
    z-index: 101;
    transition: 500ms ease;
    cursor: pointer;
}
.Tabs{
    list-style-type: none;
    float: right;
    position: relative;
    display:flex;
    right: 4%;
    top: 25%;
    font-size: 150%;
}
.Tabs li{
    display:inline;
    border-left:1px solid;
}
.Tabs li a.tab{
    padding: 7px 13px;
    margin: 0px 0%;
    transition: 0.1s ease-in;
    color:white;
}

.Tabs li a.tab:hover{
    border-bottom: 4px solid white;
    color:crimson;
}
div.footer{
    position: relative;
        bottom: 0px;
        display: block;
        text-align: center;
        width: 100%;
        color: white;
        background: #00000091;
        font-family: sans-serif;
        padding-bottom: 45px;
        margin-top: 8%;
    }
    div.footer p.copyright{
        font-family: 'ubunturegular';
        font-size:x-large;
    }
    div.footer hr{
        margin:10px 0;
    }
    div.footerContent{
        display:flex;
        flex-flow:column nowrap;
    }
    div.footerContent a{
        text-decoration: none;
        font-size: x-large;
        padding: 5px 0px;
        border-bottom: 1px solid;
        margin: 0 40%;
        color:white;
    }
    div.footerContent a:hover{
        color:red;
        border-bottom-color: white;
    }
    .BookingContainer{
        text-align: center;
        position: relative;
        top: 90px;
        width: 100%;
        height: 100%;
        min-height: 55vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .section{
        width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: grey 1px 1px 10px 2px;
    margin: 15px 0px;
    border-radius: 5px;
    }
    p.sectionHeading {
    background: #ff7600;
    text-align: left;
    font-size: x-large;
    padding: 10px 20px;
}
.innerSection {
    padding: 15px 10px;
    display:flex;
    flex-direction: column;
}
.innerSection *{
        font-size: large;
        max-width: 35vw;
        align-self: center;
}
.planRadios{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.BookingContainer form {
    width: 75vw;
}
.innerSection .planRadio {
    margin: 9px;
}
a.nextButtons {
    height: 5vh;
    font-weight: bold;
    font-size: larger;
    width: -webkit-fill-available;
    font-size: x-large;
    background-color: darkseagreen;
    padding:5px 10px;
    border:1px solid grey;
}
p.infoIdentifier{
    font-weight:bold;
=======
*{
    margin:0px;
    padding:0;
    font-family: 'ubunturegular',sans-serif,Arial;
    text-decoration: none;
    box-sizing: border-box;
    transition: 200ms ease-in all;
    cursor: default;
    user-select: none;
}
p{
    cursor:default;
}
a,i{
    cursor:pointer;
}
.header{
    width: 100%;
    height: 61px;
    /* border: 1px; */
    /* border-bottom-left-radius: 13px; */
    /* border-bottom-right-radius: 13px; */
    position: sticky;
    background: #0a476b;
    z-index: 100;
    color: white;
    box-shadow: 0 6px 13px black;
}
.logo{
    width: 15%;
    position: absolute;
    left: 85px;
    background: linear-gradient(to bottom,#ff7272 44%,#27303d00);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 5px;
    padding-top:7px;
    z-index: 101;
    transition: 500ms ease;
    cursor: pointer;
}
.Tabs{
    list-style-type: none;
    float: right;
    position: relative;
    display:flex;
    right: 4%;
    top: 25%;
    font-size: 150%;
}
.Tabs li{
    display:inline;
    border-left:1px solid;
}
.Tabs li a.tab{
    padding: 7px 13px;
    margin: 0px 0%;
    transition: 0.1s ease-in;
    color:white;
}

.Tabs li a.tab:hover{
    border-bottom: 4px solid white;
    color:crimson;
}
div.footer{
    position: relative;
        bottom: 0px;
        display: block;
        text-align: center;
        width: 100%;
        color: white;
        background: #00000091;
        font-family: sans-serif;
        padding-bottom: 45px;
        margin-top: 8%;
    }
    div.footer p.copyright{
        font-family: 'ubunturegular';
        font-size:x-large;
    }
    div.footer hr{
        margin:10px 0;
    }
    div.footerContent{
        display:flex;
        flex-flow:column nowrap;
    }
    div.footerContent a{
        text-decoration: none;
        font-size: x-large;
        padding: 5px 0px;
        border-bottom: 1px solid;
        margin: 0 40%;
        color:white;
    }
    div.footerContent a:hover{
        color:red;
        border-bottom-color: white;
    }
    .BookingContainer{
        text-align: center;
        position: relative;
        top: 90px;
        width: 100%;
        height: 100%;
        min-height: 55vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .section{
        width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: grey 1px 1px 10px 2px;
    margin: 15px 0px;
    border-radius: 5px;
    }
    p.sectionHeading {
    background: #ff7600;
    text-align: left;
    font-size: x-large;
    padding: 10px 20px;
}
.innerSection {
    padding: 15px 10px;
    display:flex;
    flex-direction: column;
}
.innerSection *{
        font-size: large;
        max-width: 35vw;
        align-self: center;
}
.planRadios{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.BookingContainer form {
    width: 75vw;
}
.innerSection .planRadio {
    margin: 9px;
}
a.nextButtons {
    height: 5vh;
    font-weight: bold;
    font-size: larger;
    width: -webkit-fill-available;
    font-size: x-large;
    background-color: darkseagreen;
    padding:5px 10px;
    border:1px solid grey;
}
p.infoIdentifier{
    font-weight:bold;
>>>>>>> 8844580ac25f9d27751a40509cbdb86d18c67c93
}